@charset "utf-8";
/* CSS Document */

.gallerycontainer{
position: relative;
/*Add a height attribute and set to largest image's height to prevent overlaying*/
}

.thumbnail
{
   font-size: 11px;
   font-family: Tahoma, Verdana, arial;
   color: #000000;
   font-weight:normal;
   text-decoration: none;
}

.thumbnail img{
border: 1px solid white;
margin: 0 5px 5px 0;
}

.thumbnail:hover{
background-color: transparent;
}

.thumbnail:hover img{
border: 5px solid white;
}

.thumbnail span{ /*CSS for enlarged image*/
position: absolute;
background-color: #66CCFF;
padding: 5px;
left: -1000px;
border: 2px solid white;
display: none;
color: black;
text-decoration: none;
}

.thumbnail span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
}

.thumbnail:hover span{ /*CSS for enlarged image*/
display: block;
top: 0;
left: 230px; /*position where enlarged image should offset horizontally */
z-index: 50;
}